nav{
  border: 10px solid gray ;
  background-color: gainsboro;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
footer{background-color:gainsboro}
section{background-color: white}
